.left {
  flex: 0 0 55%;
  padding: 2.5rem;
  background-color: rgba(28, 116, 232, 0.05);
}

@media only screen and (max-width: 31.25em) {
  .left {
    padding: 0.5rem;
  }
}

.left .formContainer {
  padding: 2rem 12rem 0;
}

@media only screen and (max-width: 68.75em) {
  .left {
    flex: 1;
  }

  .left .formContainer {
    padding: 4rem 8rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .left .formContainer {
    padding: 3rem 1rem;
  }
}
